/* Element Selector */

h2 {
    color: blue;
}

/* Class Selector */
 .addExp {
    background-color: rgb(137, 173, 173);
 }

 /* ID Selector */
 #secondone{
    background-color: rgb(177, 227, 227);
 }
 .class #id{
    background-color: rgb(177, 227, 227);
 }